{% extends 'hotel_app/base.html '%}
{% block content %}
<style type="text/css">

table {
margin-right: 100px;
border: 2px #2b2b2b solid;
width: 300px;
height: 200px;
}

td, th {
border: 2px #2b2b2b solid;
}
table#table1 {
 
margin-left:15%; 
margin-right:15%;
}

</style>
<table border="1" id="table1">
	<tr>
		<td><center>Food</center></td>
	</tr>
	<tr style="width: 100px;">
		<td><center>Laundry</center></td>
	</tr>
	<tr>
		<td><center>Accomodation</center></td>
	</tr>
	<tr>
		<td><center>Swimining pool</center></td>
	</tr>
	<tr>
		<td><center>Confrense Hall</center></td>
	</tr>
	<tr>
		<td><center>Helth club</center></td>
	</tr>
	<tr>
		<td><center>Security</center></td>
	</tr>
	<tr>
		<td><center>Bank services</center></td>
	</tr>
	<tr>
		<td><center>Recreation</center></td>
	</tr>
	<tr>
		<td><center>Parking</center></td>
	</tr>
	<tr>
		<td><center>House keeping</center></td>
	</tr>
</table>

{% endblock %}