{% extends 'hotel_app/base.html' %}
{% block content %}
<table border="1">
	<tr>
		<th>Room Type</th>
		<th>A/C/Non-A/C</th>
		<th>Room Tariff</th>
	</tr>
	<tr>
		<td><a href="#">Standard</a></td>
		<td>Non A/c</td>
		<td>1000</td>
	</tr>
	<tr>
		<td><a href="#">Semi-delux</a></td>
		<td>Non A/c</td>
		<td>1500</td>
	</tr>
	<tr>
		<td><a href="#">Delux</a></td>
		<td>A/c</td>
		<td>2000</td>
	</tr>
	<tr>
		<td><a href="#">Suit</a></td>
		<td>A/c</td>
		<td>2000</td>
	</tr>
	<tr>
		<td><a href="#">Super Delux</a></td>
		<td>A/c</td>
		<td>3200</td>
	</tr>
	

</table>
{% endblock %}